{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Polls | Index</title>
        <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />        
    </head>
    
    <body>
        <div id="page-container">
            <header>
                <h1>Polls</h1>
                <hr>
            </header>
            
            {% if latest_polls_list %}
                <h2>5 Most Recent Polls</h2>
                <ul>
                    {% for poll in latest_polls_list %}
                        <li><a href="{% url 'polls:details' poll.id %}">{{ poll.question }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <h2>No Polls Available</h2>
            {% endif %}
        </div>    
    </body>
</html>