<!DOCTYPE html>
<html>
    <head>
        <title>Polls | Results</title>
    </head>
    
    <body>
        <h1>{{ poll.question }}</h1>
        
        <ul>
            {% for choice in poll.choice_set.all %}
                <li>{{ choice.choice_text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}</li>
            {% endfor %}
        </ul>
        
        <a href="{% url 'polls:details' poll.id %}">Vote again?</a>          
    </body>
</html>