/* Simple CSS Reset */

*{
    margin: 0;
    padding: 0;
}

body{
    background: #FFB273;
    color: #FF7400;
}

a:link{
    color: #A64B00;    
}

a:visited{
    color: #A64B00;    
}

a:hover{
    color: #009999;
}



