/* Author: Christian Retek
 * Date: March 1st, 2014
 * Color Scheme: http://colorschemedesigner.com/#3m31TaUrboHeA
 */

*{
    margin: 0;
    padding: 0;
}

body{
    background: #597E85;
    font-family: Helvetica, Arial, sans-serif;
}

#page-container{
    width: 950px;
    margin: 0 auto;
    background: #D9C28F;
}

header{
    display: block;
    margin: 10px 0px;
    padding: 10px 0 10px 0;
}

header h1{
    text-align: center;
}

ul li{
    list-style: none;
}




